[Desktop Entry]
Version=1.0
Type=Application
Name=Upload pictures to Flickr
Name[es]=Subir imágenes a Flickr
Name[fr]=Télécharger photos sur Flickr
Comment=Upload pictures to Flickr from Nautilus
Comment[es]=Subir imágenes a Flickr desde Nautilus
Comment[fr]=Télécharger photos sur Flickr avec Nautilus
Exec=./bin/nautilus-flickr-uploader %F
TryExec=./bin/nautilus-flickr-uploader
Terminal=false
Categories=Network;FileTransfer;GTK;
StartupNotify=true
Icon=nautilus-flickr-uploader
MimeType=image/gif;image/jpeg;image/png;

