[Desktop Entry]
Version=1.0
Type=Application
Name=Upload pictures to Flickr
Name[es]=Subir imágenes a Flickr
Name[fr]=Télécharger photos sur Flickr
Name[ca]=Pujar fotos a Flickr
Name[ar]=رفع الصور إلى فليكر
Name[de]=Fotos zu Flickr hochladen
Name[gl]=Subir fotos a Flickr
Name[gu]=Flickr માં ફોટા અપલોડ કરો"
Name[it]=Carica le foto su Flick
Name[pl]=Wysyłanie zdjęć do serwisu Flickr
Name[pt]=Enviar as Fotos para o Flickr
Name[ru]=Загрузить фотографии на to Flickr
Name[uk]=Вивантаження фото до Flickr
Comment=Upload pictures to Flickr from Nautilus
Comment[es]=Subir imágenes a Flickr desde Nautilus
Comment[fr]=Télécharger photos sur Flickr avec Nautilus
Comment[ca]=Pujar fotos a Flickr amb Nautilus
Exec=./bin/nautilus-flickr-uploader %F
TryExec=./bin/nautilus-flickr-uploader
Terminal=false
Categories=Network;FileTransfer;GTK;
StartupNotify=true
Icon=nautilus-flickr-uploader
MimeType=image/gif;image/jpeg;image/png;

